*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}
html,
body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    background: rgba(17, 17, 17, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    align-items: flex-start;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    height: 12vh;
    z-index: 10;
}

.nav-part1{
    font-size: 1.6vw;
}
.nav-part2{
    display:flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
}
.nav-part2 h4{
    font-weight: 600 ;
    font-size: 0.73vw;
    text-transform: uppercase;
    margin-bottom: 2.6vw;
}
.nav-part2 h5{
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}
.nav-part2 h5 span{
     font-size: 0.77vw;
     font-weight: 400;
     display: inline-block;
     transform: translateY(25px);
}

#nav-bottom{
    /* background-color: red; */
    height: 0;
    width: 79%;
    position: absolute;
    top: 100%;
    z-index: 9;
    background-color: #111;
    /* transition: all ease 0.65s; */
    /* bottom: 0%; */
    border-bottom: 1px solid #dadada;
    /* display: flex; */
    /* align-items: flex-start; */
    /* justify-content:space-between; */
    /* padding: 2vw 15vw; */
    /* padding-left: 18.2vw; */
    /* padding-top: 6vw; */
}

nav button{
    background-color: #0ba34e;
    display: flex;
    align-items: center;
    padding: 12px 14px;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 0.85vw;
    font-weight: 700;
}
nav button svg{
    height: 0.8vw;
    margin-left: 1.6vw;
}
#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}
#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0DA34E;
    border-radius: 50%;
}
#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}
#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}
#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 9px 18px;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 50px;
}
#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}
#moving-div{
    /* background-color: red; */
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 1.2vw;
    overflow: hidden;
}
#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#moving-div .move img{
    height:1vw;
    margin: 0 1.2vw;
}
@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

#blur-left{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    /* background-color: red; */
    background: linear-gradient(to right,#111, transparent);
}

#blur-right{
    height: 100%;
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    /* background-color: red; */
    background: linear-gradient(to right, transparent,#111);
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #333;
}
#page2-left{
    height: 100%;
    width: 40%;
    /* background-color: rgb(75, 73, 70); */
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0;
}
#page2-left p{
    font-size: 1vw;

}
#page2-left h5{
    font-size: 1.1vw;
    width: 75%;
    font-weight: 400; 
}
#page2-right{
    height: 100%;
    width: 50%;
    /* background-color: rgb(75, 73, 70); */
}
.right-elem{
    position: relative;
    /* background-color: red; */
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}
.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}
.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}
#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: #111;
    background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page3-centre{
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1vw;
}
.page3-centre .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: #fff;
}
.page3-centre .icon i{
    font-size: 2.8vw;
    color: #000;
}
.page3-centre h5{
    font-size: 0.8vw;
    background-color: #fff;
    color: #000;
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 50px;
    margin-top: 1vw;
    font-weight: 700;
    opacity: 0;
    transform: translateY(16%);
    transition: all ease 0.6s;
}
.page3-centre:hover h5{
    opacity: 1;
    transform: translateY(0%);
}
#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.7) scaleY(0);
    border-radius: 30px;
    opacity: 0;
    z-index: 99999;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page 4 main container */
#page4 {
    height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Left section */
#page4-left {
    width: 40%;
}

#page4-left h3 {
    font-size: 3vw;
    font-weight: 700;
    line-height: 3.2vw;
    color: #000;
}

/* Right section */
#page4-right {
    width: 52%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Headings */
#page4-right h5 {
    font-size: 1.1vw;
    margin-bottom: 1.6vw;
    text-transform: uppercase;
    opacity: 0.5;
    color: #000;
    letter-spacing: -1px;
}

/* Paragraphs */
#page4-right p {
    font-size: 1.6vw;
    font-weight: 600;
    color: #4f4f4f;
    letter-spacing: -1px;
    margin-bottom: 4vw;
}
